<div class = "cards">
    {{#cards}}
    <div class = card>
        <div class = "card-inner">
            <div class = "title">
            {{title}}
            </div>
            <div class = "description">
                {{description}}
            </div>
            <div class = "effect">
                {{effect}}
            </div>
        </div>
    </div>
    {{/cards}}
</div>