<html>
    <head>
        <title>Card Generator</title>
        <link rel="stylesheet" href="http://localhost:3000/styles.css">
        <script type='text/javascript' data-main="js/client.js" src = "http://localhost:3000/js/require.js"></script>
    </head>
    <body>
        <input id = "data" type="file">
        <button id = "process">Karten generieren</button>
        <button id = "print">Karten drucken und herunterladen</button>
        <div id = "preview">
        </div>
    </body>
</html>