<html>
    <head>
        <title>Card Generator</title>
        <script type='text/javascript' data-main="modules/client.js" src = "http://localhost:3000/modules/require.js"></script>
        <script type='text/javascript' data-main="modules/client.js" src = "http://localhost:3000/modules/client.js"></script>
    </head>
    <body>
    </body>
</html>